/*General rules */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

:root {
    font-size: 62.5%; /* font-size 1em = 10px on default browser settings | https://developer.mozilla.org/en-US/docs/Web/CSS/font-size */
    --header-bg: #020300;
    --header-font-color: #cbd4c2;
    --first-container-bg: #394648;
    --second-container-bg: #cbd4c2;
    --third-container-bg: #3e363f;
    --main-font-color: #e8f7ee;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2 {
    font-weight: normal;
}

/* Header */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: var(--header-bg);
    color: var(--header-font-color);
    justify-content: flex-end;
    font-size: 2.5rem;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-right: 30px;
    width: 300px;
}

.navbar-items li {
    margin-right: 30px;
}

/* Main */

.main-container {
    width: 100vw;
    min-height: 300vh;
    display: flex;
    flex-direction: column;
}

.submain-container {
    width: 100vw;
    height: 100vh;
}

#welcome-section {
    color: var(--main-font-color);
    background-color: var(--first-container-bg);
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    color: var(--header-bg);
    background-color: var(--second-container-bg);
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-auto-flow: row;
}       

.grid-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 460px));
    grid-template-rows: repeat(auto-fill, 300px);
    grid-auto-flow: row;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    width: 100%;
    height: auto;
}

#contact {
    color: var(--header-font-color);
    background-color: var(--third-container-bg);
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.contacts-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

.icons {
    width: auto;
    height: 100px;
}